@CHARSET "UTF-8";
body{
	background-color:#FCFCFC;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}
#page-content{
	min-height:1000px;
	width:1100px;
	margin-top:55px;
	margin-left:auto;
	margin-right:auto;
}

#page-content > div:nth-child(1){
	border:0px solid purple;
	padding:20px;
}

#page-content > div:nth-child(2){
	border:1px solid blue;
}

.hbox {
	display: -webkit-box;
	display: -moz-box;
	display: flex-box;
	display:flex;
	display:inline-flex;
	display: -webkit-flex;
    
    -webkit-flex-direction: row;  
	box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	-webkit-box-align: stretch;
	-moz-box-orient: horizontal;
	-moz-flex-flow: row;
	-moz-box-align: stretch;
	-webkit-box-flex: 1;
	box-align: stretch;
	width:100%;
}
.hbox > *{
	width:0;
}

.vbox {
	display: -webkit-box;
	display: -moz-box;
	display: flex-box;
	box-orient:vertical;
	-webkit-box-orient:vertical;
	-webkit-flex-flow: row;
	-webkit-box-align: stretch;
	-moz-box-orient:vertical
	-moz-flex-flow: row;
	-moz-box-align: stretch;
	-webkit-box-flex: 1;
	box-align: stretch;
	width:100%;
}

.flex1{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;	 
}

.flex2{
	-webkit-box-flex:2;
	-moz-box-flex:2;
	box-flex:2;
    -webkit-flex:2 2 auto;
    flex:2 2 auto;	 
}

.flex3{
	-webkit-box-flex:3;
	-moz-box-flex:3;
	box-flex:3;
    -webkit-flex:3 3 auto;
    flex:3 3 auto;	 
}

.flex4{
	-webkit-box-flex:4;
	-moz-box-flex:4;
	box-flex:4;
    -webkit-flex:4 4 auto;
    flex:4 4 auto;	 
}

.flex5{
	-webkit-box-flex:5;
	-moz-box-flex:5;
	box-flex:5;
    -webkit-flex:5 5 auto;
    flex:5 5 auto;	 
}

.flex6{
	-webkit-box-flex:6;
	-moz-box-flex:6;
	box-flex:6;
    -webkit-flex:6 6 auto;
    flex:6 6 auto;	 
}



label{
	display:block;
	font-weight:bold;
	color:#111;
}

h1,h2,h3{
	margin-top:0px;
	color:#4B4B4B;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

textarea{
	resize: none;
	width:500px;
	display:block;
	margin-bottom:5px;
	height:100px;
	padding:5px;
}

textarea.bio{
	width:600px;
	height:300px;
}

#body-mask{
	position:fixed;
	top:0;
	bottom:0;
	margin-bottom:0px;
	width:100%;
	height:100%;
	background-color:#111;
	opacity:0;
	z-index:9000;
	display:none;	
}

form .alert{
	display:none;
}
.cont_edit_student_bio{
	display:none;
}

.no-show{
	display:none;
	visibility:visible ;
}

.box-shadow{
	-webkit-box-shadow:1px 1px 1px #ACACAC;
	-moz-box-shadow:1px 1px 1px #ACACAC;
	box-shadow:1px 1px 1px #ACACAC;
}

#home-icon-link{
	position:absolute;
	margin-left:50px;
	margin-tio:30px;
}

.registration-info{
	border:4px solid #e7e7e7;
	width:600px;
	min-height:200px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:20px;
}
/********************/
/*	PARTNER 		*/
/********************/

#partner-register{
	width:600px;
	height:auto;
	border:1px solid red;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	display:block;	
	padding:20px;
	border:4px solid #e7e7e7;
	margin-bottom:50px;
}

#partner-edit-info-form{
	width:600px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	display:none;'
}